global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
alerting:
  alertmanagers:
    - static_configs:
      - targets: []
      scheme: http
      timeout: 10s
scrape_configs:
  - job_name: prometheus
    honor_timestamps: true
    scrape_interval: 15s
    scrape_timeout: 10s
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
        - 0.0.0.0:9090
  - job_name: node_exporter
    scrape_interval: 15s
    static_configs:
      - targets:
          - localhost:9100
  - job_name: monitor_hardware #if we wanted remote machines
    static_configs:
      - targets: ['172.25.0.4:9100']
